<main class="content__main">
  <div class="content__container">

    {{#each poems}}

    <article class="poem">
      <header class="poem__header">
        <div class="poem__author">
          {{username}}
        </div>
      </header>

      <h3 class="poem__title">{{title}}</h3>
      <p class="poem__body">{{body_text}}
      </p>
    </article>

    {{/each}}

  </div>
</main>
