<form class="login-form" action="/login" method="POST">
  <p>Login existing user</p>
  <label for="username">Username:</label>
  <input id-"username" type="text" name="username" placeholder="Choose a username..." required><br>
  <label for="password">Password:</label> <input id="username" type="password" name="password" placeholder="Choose a password..." required><br>
  <input type="submit" value="submit">
  <br>
</form>
