<header class="navbar">
  <div class="navbar__container">
    <a href="/write-new-poem" class="navbar__link">Submit Poem</a>
    <a href="/" class="navbar__link">Back Home</a>

    <p>Submit, login, register, profile, all to go here</p>

  </div>
</header>
