<header class="navbar">
  <div class="navbar__container">
    <a href="/write-new-poem" class="navbar__link">Submit Poem</a>
    <a href="/" class="navbar__link">Back Home</a>
    <a href="/login-register" class="navbar__link">Login/register</a>
    <a href="/logout" class="navbar__link">Logout</a>

    <p>login, register, profile, all to go here</p>

  </div>
</header>
