<main class="submit__main">
  <section>
    <div class="submit__container">
      <form class="postForm" method="POST" action="/write-new-poem">

        <label class="postForm__label" for="postTitle">Title...
          <input class="postForm__input" name="title" id="postTitle" type="text"></input>
        </label>

        <label class="postForm__label" for="postBody">Poem....
          <textarea class="postForm__textarea" name="body_text" id="postBody" type="text"></textarea>
        </label>

        <button type="submit" class="postForm__button">Submit Your Poem</button>
    </form>
  </div>
</section>
</main>
